/* AudioPlayerComponent */

.audio-player-component {
	display: grid;
	grid-template: 44px 30px / 60px;
	gap: var(--inner-element-padding);
}

.audio-player-component > .audio-component {
	width: 60px;
}
