/*** ImageCardComponent ***/

.image-card-component > .main-component {
	padding: 0;
	margin: 0;
	width: 100%;
}

.image-card-component > .main-component > .image-component {
	max-width: 100%;
	margin: 0;
	background-color: var(--background-color);
	border-radius: var(--container-border-radius) var(--container-border-radius) 0 0;
}

.image-card-component > .main-component > :first-child {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
