@import '../bink/style/base.css';
@import '../bink/style/components.css';

@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	src: url(../assets/NunitoSans.ttf) format('truetype');
}

:root {
	--background-color: #222;
	--base-color: #eee;
	--light-secondary-color: #666;
	--hover-border-color: #aaa;
	--container-border-width: 2px;
	--container-border-radius: 0px;
	--dark-secondary-color: #66d;
	--primary-color: #66d;
}

body {
	display: flex;
	justify-content: center;
}

.loading {
	margin-top: 4em;
}

body,
button,
a,
select,
option,
input {
	background-color: var(--background-color);
	color: var(--base-color);
	font-family: 'Nunito Sans', sans-serif;
}

select,
input {
	border: 2px solid var(--primary-color);
}

select:focus,
button:focus,
input:focus {
	outline: 0;
	border-color: var(--light-secondary-color);
}

.app {
	width: 100%;
}

.main {
	display: flex;
	justify-content: center;
	padding: 0 2em;
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home .collection-component {
	gap: 0;
}

.about button {
	margin: 1em 0;
}

h2 {
	margin-bottom: 0.5em;
	font-size: 20pt;
}

.new-button {
	margin-bottom: 1em;
}

.masthead {
	display: grid;
	align-items: center;
	justify-items: center;
	padding: 1em;
	gap: 15px;
}

.masthead .brand {
	text-decoration: none;
	color: var(--base-color);
	font-size: 9pt;
}

.soma-player {
	display: grid;
	align-items: center;
}

.soma-player .soma-link {
	justify-self: center;
	font-size: 9pt;
	grid-column: span 2;
}

.soma-player select {
	padding: 0;
	margin: 0 5px;
	align-self: center;
}

.soma-player select,
.soma-player button {
	height: 35px;
}

.editor {
	display: grid;
	grid-template-columns: 6fr 4fr;
	grid-column-gap: 5px;
}

.editor-back-button {
	grid-column: span 2;
	align-self: center;
	justify-self: center;
	margin-bottom: 1em;
}

.editor textarea {
	border: 0;
	margin: 0;
}

.editor-controls {
	grid-column: span 2;
	display: grid;
	grid-template-columns: 6fr 197.5px 197.5px;
	margin-bottom: 5px;
	grid-column-gap: 5px;
}

.editor-title-input {
}

.editor .CodeMirror {
	height: auto;
	font-size: 10pt;
}

.audio-player-component {
	display: block;
}

.sketch-tile {
	cursor: pointer;
	max-width: 230px;
	margin: 0.2em;
}
.sketch-tile:hover {
	border-color: var(--hover-border-color);
}

.sketch-tile .main-component {
	display: flex;
	justify-content: center;
}

.sketch-tile .card-title-component {
	padding: var(--inner-element-padding);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sketch-tile .card-caption-component {
	min-height: 0;
	padding: 0;
}

.sketch-tile .visualizer {
	width: 200px;
	height: 200px;
}

.hidden {
	display: none;
}

@media (min-width: 576px) {
	.masthead {
		grid-template-columns: 1fr 1fr 1fr;
		height: 2em;
		gap: 0;
	}
	.masthead .brand {
		justify-self: flex-start;
	}

	.about-link {
		justify-self: flex-end;
	}
	.main {
		padding: 2em;
	}
}
